# ============================
# VCM datasets
# ============================
data/
dataset/
datasets/
vimeo_septuplet/
vimeo90k/

# ============================
# Pretrained checkpoints
# ============================
checkpoints/
pretrained/
*.pth
*.pth.tar

# YOLO weights
*.pt

# ============================
# Training outputs
# ============================
outputs/
runs/
logs/

# ============================
# Python
# ============================
__pycache__/
*.pyc
*.pyo

# ============================
# Notebook
# ============================
.ipynb_checkpoints/